<div class="faq__question">
  <p class="text--regular question">
    {{ question }}
    <span class="question__btn"><img src="assets/icons/faq/faq-icon.svg" class="question__btn--open" alt="icon" /><img src="assets/icons/faq/faq-icon-open.svg" class="question__btn--close" alt="icon" /></span>
  </p>
  <p class="text--regular answer">For any undamaged product, simply return it with its included accessories and packaging along with the original receipt (or gift receipt) within 14 days of the date you receive the product, and we'll exchange it or offer a refund based upon the original payment method.</p>
</div>
