<div class="faq__questions">
  <div class="faq__question">
    <p class="text--regular question">
      If I don’t like the design after shipping can I return product?
      <span class="question__btn"><img src="assets/icons/faq/faq-icon.png" alt="faq icon" /></span>
    </p>
    <p class="text--regular answer">For any undamaged product, simply return it with its included accessories and packaging along with the original receipt (or gift receipt) within 14 days of the date you receive the product, and we'll exchange it or offer a refund based upon the original payment method.</p>
  </div>
</div>
