<article class="feature__product">
  <div class="product__icon">
    <img src="{{ icon }}" alt="icon" />
  </div>
  <div class="product__info">
    <h3 class="text--big text--bold">{{ title }}</h3>
    <p class="product__describe">
      Your interior space will never be the same as the three-seatersss sofa as its centerpiece. Polyester is a category of polymers that contain the ester functional group in their main chain. As a specific material, it most commonly refers to a type called polyethylene terephthalate (PET). Polyesters include naturally occurring chemicals, such as
      in the cutin of plant cuticles, as well as synthetics such as polybutyrate. Natural polyesters and a few synthetic ones are biodegradable, but most synthetic polyesters are not. The material is used extensively in clothing.
    </p>

    <ul>
      <h4 class="card__title">
        <span><img src="assets/icons/feature/tick-icon.png" alt="tick icon" /></span>Heavy Duty tested material
      </h4>
      <h4 class="card__title">
        <span><img src="assets/icons/feature/tick-icon.png" alt="tick icon" /></span>Less waste produced
      </h4>
      <h4 class="card__title">
        <span><img src="assets/icons/feature/tick-icon.png" alt="tick icon" /></span>Easier to clean
      </h4>
    </ul>

    <div class="product__cards">
      <div class="product__card">
        <img src="{{ image1 }}" alt="image" class="card__image" />
      </div>
      <div class="product__card">
        <img src="{{ image2 }}" alt="image" class="card__image" />
      </div>
      <div class="product__card">
        <img src="{{ image3 }}" alt="image" class="card__image" />
      </div>
    </div>
  </div>
</article>
