.background {
  width: 100%;
  height: 100%;
  min-height: 336px;
  margin: 0;
  padding: 0;
  background-image: url(../../assets/images/background/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.background__btn {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: var(--fw-bold);
  color: var(--light-color);
  background: none;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid var(--light-color);
  padding: 15px 38px 9px 39px;
  margin: 0 16px 16px 0;
}

.background__btn:hover {
  cursor: pointer;
}

/* Tablet */
@media (min-width: 768px) {
  .background {
    min-height: 528px;
  }

  .background__btn {
    padding: 10px 17px 11px 17px;
    margin: 0 16px 24px 0;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .background {
    background: url(../../assets/images/background/background-desktop.webp);
    background-position: center center;
  }

  .background__btn {
    padding: 5px 38px 6px 39;
    margin: 0 135px 24px 0;
  }
}
