.footer {
  background-color: var(--gray-color);
}

.footer__info {
  padding: 25px 45px;
  line-height: 32px;
  text-align: center;
}

/* Tablet */
@media (min-width: 768px) {
  .footer__info {
    font-weight: var(--fw-light);
  }
}
