.experience__container {
  height: 682px;
  margin: 58px 135px 0 70px;
}

.experience__image {
  width: 541px;
  height: 582px;
  margin: 50px 0;
  overflow: hidden;
}

.experience__describe {
  width: 538px;
  height: 514px;
  margin: 110px 0 90px 152px;
  gap: 20px 0;
}

.experience__sub-title {
  font-size: 20px;
  font-weight: var(--fw-semibold);
  line-height: 20px;
  letter-spacing: 4px;
}

.experience__cards {
  margin-top: 20px;
}

.experience__card {
  width: 166px;
  height: 178px;
  border-radius: 14px;
  background-color: var(--bg-light-color);
  text-align: center;
  padding: 10 0 10 26px;
}

.card__title {
  text-align: left;
}

.card__text {
  font-size: 21px;
  line-height: 29px;
  text-align: left;
}
