/*-----------------------------*\
    #CSS VARIABLES
\*-----------------------------*/

:root {
  --text-color: #5b5f62;
  --heading-color: #2d3134;
  --primary-color: #f66f4d;
  --gray-color: #939597;
}

/*-----------------------------*\
    #GLOBAL ELEMENTS
\*-----------------------------*/

/*-----------------------------*\
    #SET FONT FAMILY
\*-----------------------------*/
