.header__container {
  height: 102px;
  padding: 0 135px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  flex-direction: row;
}
.header__logo {
  display: flex;
  flex-direction: row;
}

.header__image {
  width: 42;
  height: 35;
  margin: 33px 0 34px 0;
}

.header__text {
  font-family: "Sen", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 40px 0 42px 0;
}

.header__navbar {
  margin: 39px 0 47px 72px;
  display: flex;
  flex-direction: row;
  gap: 0 36px;
}

.header__button {
  width: 174px;
  height: 54px;
  margin: 24px 0;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  background-color: #faf8ed;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: var(--fw-medium);
}

.header__button:hover {
  cursor: pointer;
}
