/*-----------------------------------------*\
  #TYPOGRAPHY ELEMENT
\*-----------------------------------------*/

a {
  font-family: "Poppins";
  font-weight: var(--fw-regular);
  text-align: center;
  letter-spacing: 0.16px;
  text-decoration: none;
}

p {
  font-family: "Inter";
  color: var(--text-color);
  font-weight: var(--fw-regular);
  font-size: 18px;
  line-height: 28px;
}

h1 {
  font-family: "Sen";
  font-weight: var(--fw-bold);
  font-style: normal;
  font-size: 84px;
  line-height: 86px;
}

h2 {
  font-family: "Inter";
  font-weight: var(--fw-semibold);
  font-style: normal;
  font-size: 56px;
  line-height: 66px;
}

h3 {
  font-family: "Inter";
  font-weight: var(--fw-semibold);
  font-style: normal;
  font-size: 46px;
  line-height: 46px;
}

h4 {
  font-family: "Inter";
  font-weight: var(--fw-semibold);
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
}

/*-----------------------------------------*\
    #TEXT CLASSES
  \*-----------------------------------------*/

.text {
  color: var(--text-color);
}

.text--dark {
  color: var(--dark-color);
}

.text--gray {
  color: var(--gray-color);
}

.text--primary {
  color: var(--primary-color);
}

.text--blue {
  color: var(--text-blue);
}

.text--light {
  color: var(--text-light);
}

.text--small {
  font-size: 12px;
  line-height: 12px;
}

.text--regular {
  font-size: 14px;
  line-height: 14px;
}

.text--medium {
  font-size: 16px;
  line-height: 26px;
}

/*-----------------------------*\
      #SET FONT FAMILY
  \*-----------------------------*/

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Inter/static/Inter-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url(../../fonts/Inter/static/Inter-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url(../../fonts/Inter/static/Inter-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sen";
  font-weight: 700;
  font-style: normal;
  src: url(../../fonts/Sen/Sen-Bold.ttf) format("truetype");
}
