.hero__container {
  padding: 0 135px;
  display: flex;
  height: 720px;
  justify-content: space-between;
  align-items: center;
}

.hero__describe {
  display: flex;
  flex-direction: column;
  width: 577px;
  height: 460px;
}

.hero__text {
  margin-top: 26px;
}

.hero__search-box {
  width: 500px;
  height: 76px;
  background-color: #fdfeff;
  border-radius: 38px;
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 8px;
}

.search-box__input {
  width: 102px;
  border: none;
  outline: none;
}

.search-box__img {
  margin-left: 26px;
}

.search-box__submit {
  background-image: url(/src/assets/images/hero/search-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fdfeff;
  width: 54px;
  height: 54px;
  border: none;
  cursor: pointer;
}

.hero__image {
  width: 534px;
  height: 555px;
}
