.popular-destination__container {
  height: 707px;
  margin: 50px 87px 50px 135px;
  display: flex;
  flex-direction: column;
}

.popular-destination__menu {
  width: 1170px;
  height: 132px;
  display: flex;
  justify-content: space-between;
}

.popular-destination__title {
  width: 400px;
  height: 132px;
}

.popular-destination__cards {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
}

.popular-destination__card {
  width: 386px;
  height: 440px;
  border-radius: 16px;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
}

.popular-destination__image {
  margin: 12px 12px 24px 12px;
}

.popular-destination__card__title {
  height: 24px;
  margin-left: 24px;
}

.popular-destination__card__text {
  margin: 14px 0 0 24px;
}

.popular-destination__card__menu {
  display: flex;
}

.popular-destination__card__price {
  display: flex;
  margin: 35px 0 0 24px;
}

.popular-destination__card_button {
  width: 100px;
  height: 37px;
  margin: 27px 0 0 107px;
  border-radius: 46px;
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  background-color: #faf8ed;
}

.popular-destination__card_button:hover {
  color: #fff;
  background-color: var(--dark-color);
  cursor: pointer;
}
