/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 18px;
}

.btn {
  width: 54px;
  height: 54px;
  border-radius: 100px;
  border: 1px solid var(--dark-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__image {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.btn__white {
  background-color: var(--white-color);
}

.btn__small {
  width: 40px;
  height: 40px;
}

.btn:hover {
  cursor: pointer;
  filter: invert(100%);
}
