.contact {
  padding: 60px 16px;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__summary {
  margin-top: 70px;
  text-align: center;
}

.contact__title {
  line-height: 56px;
}

.contact__describe {
  font-weight: var(--fw-light);
  margin-top: 23px;
  line-height: 40px;
}

.contact__main {
  display: flex;
  flex-direction: column;
}

.contact__form {
  padding: 60px 0;
  background-color: var(--gray-color);
  outline: none;
  display: flex;
  flex-direction: column;
}

.form__input {
  background-color: var(--gray-color);
  border: none;
  margin: 20px 0 29px 0;
  padding: 6px 0;
  font-size: 24px;
  border-bottom: 2px solid #c8c8c8;
}

.form__input:focus {
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}

.form__btn {
  padding: 15px 112px;
  margin-top: 11px;
}

.contact__infos {
  margin-top: 40px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  margin-top: 20px;
}

.contact__info:first-child {
  margin-top: 0;
}

/* Tablet */
@media (min-width: 768px) {
  .contact {
    padding: 75px 112px;
    margin: 0 auto;
    max-width: 1440px;
  }

  .contact__form {
    margin: 0 32px;
    padding: 69px 40px 80px 40px;
  }

  .form__btn {
    padding: 17px 168px 23px 169px;
  }

  .contact__info {
    font-size: 24px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .contact {
    padding: 216px 135px 100px 135px;
  }

  .contact__content {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .contact__logo {
    margin-left: 203px;
  }

  .contact__summary {
    margin-top: 100px;
    text-align: left;
    max-width: 570px;
  }

  .contact__title {
    max-width: 350px;
  }

  .contact__main {
    margin-top: 32px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contact__form {
    margin: 0;
    padding-top: 79px;
  }

  .form__input {
    font-size: 27px;
    margin: 37px 0 41px;
    padding: 0 0 11px;
    min-width: 400px;
  }

  .form__input:nth-child(2) {
    margin-top: 32px;
  }

  .form__btn {
    margin-top: 0;
  }

  .contact__infos {
    margin: 110px 0 0 214px;
  }

  .contact__info {
    margin-top: 38px;
    align-items: flex-start;
    gap: 21px;
  }
}
