.feature {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../assets/images/feature/background.svg);
  background-size: cover;
}

.feature__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.feature__title__text {
  margin-top: 70px;
}

.feature__title__text h3 {
  margin-top: 19px;
}

.feature__products {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.feature__product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feature__product__info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__product__info p {
  margin: 5px 0 50px 0;
  line-height: 32px;
}

.feature__product__info h5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.feature__product__cards {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0;
}

.feature__btn {
  margin-top: 20px;
  font-size: 24px;
  width: 288px;
  height: 64px;
  border: none;
  border-radius: 2px;
}

/* Tablet */
@media (min-width: 768px) {
  .feature__title {
    margin: 96px 66px 0 66px;
  }

  .feature__title__text h1 {
    text-align: left;
  }

  .feature__title__text h3 {
    margin-top: 70px;
  }

  .feature__products {
    margin-top: 71px;
  }

  .feature__product__info p {
    max-width: 542px;
  }

  .feature__product__cards {
    flex-direction: row;
    justify-content: space-between;
    gap: 0 20px;
  }

  .feature__product__card {
    width: 220px;
    height: 184px;
  }

  .feature__product__card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .feature__btn {
    width: 320px;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .feature {
    margin: 85px 135px;
    padding: 121px 100px 80px 100px;
    align-items: flex-start;
  }

  .feature__title {
    margin: 0 0 0 0;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .feature__title__text {
    text-align: left;
    max-width: 470px;
    margin-top: 0;
  }

  .feature__products {
    align-items: flex-start;
    margin-top: 80px;
  }

  .feature__product {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }

  .feature__product__info {
    align-items: flex-start;
    margin-left: 16px;
  }

  .feature__product__info h5 {
    flex-direction: row;
    gap: 0 20px;
  }

  .feature__product__cards {
    gap: 0 32px;
  }

  .feature__product__card {
    width: 240px;
    height: 200px;
  }

  .feature__btn {
    margin: 80px 0px 0px 325px;
  }
}
