.gallery {
  background-color: var(--gray-color);
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.gallery__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.gallery__title__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.gallery__title__main p {
  line-height: 40px;
  margin-top: 18px;
}

.gallery__title__main h3 {
  margin: 30px 0 8px 0;
}

.gallery__title__main img:hover {
  cursor: pointer;
}

.gallery__images {
  margin-top: 40px;
  display: grid;
  gap: 24px 0;
}

/* Tablet */
@media (min-width: 768px) {
  .gallery__title {
  }

  .gallery__title__main p {
    max-width: 544px;
  }

  .gallery__title__main h3 {
    margin-top: 21px;
  }

  .gallery__images {
  }

  .gallery__image {
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .gallery {
    margin: 75px 135px 0 135px;
    padding: 0 70px;
  }

  .gallery__title {
    margin: 70px 30px 0 30px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .gallery__title__main {
    margin-top: 0;
    align-items: flex-start;
    text-align: left;
    max-width: 470px;
  }
}
