.review {
  padding: 0 16px 38px 16px;
  display: flex;
  flex-direction: column;
}

.review__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.review__logo--desktop {
  display: none;
}

.review__summary {
  margin-top: 70px;
  text-align: center;
}

.review__title {
  letter-spacing: -1px;
}

.review__describe {
  margin-top: 18px;
  line-height: 40px;
}

.review__info {
  margin-top: 65px;
  text-align: center;
}

.review__sub-title {
  line-height: 48px;
}

.review__posts {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  gap: 65px 0;
}

.post__title {
  margin-top: 17px;
  line-height: 40px;
}

.post__describe {
  line-height: 32px;
}

.post__cards {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
}

.review__buttons {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .review {
    padding: 80px 112px;
  }

  .post__cards {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px 20px;
  }

  .post__card {
    max-width: 260px;
    max-height: 256px;
    object-fit: cover;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  .review {
    padding: 175px 135px 80px 135px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .review__logo--mobile {
    display: none;
  }

  .review__logo--desktop {
    display: block;
  }

  .review__content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .review__summary {
    margin-top: 0;
    text-align: left;
    max-width: 570px;
  }

  .review__describe {
    margin-top: 31px;
  }

  .review__info {
    text-align: left;
    margin-top: 73px;
  }

  .review__posts {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 38px;
  }

  .review__post {
    max-width: 570px;
  }

  .post__cards {
    max-width: 360px;
    gap: 16px;
  }

  .post__card {
    max-width: 170px;
    max-height: 168px;
    object-fit: cover;
  }

  .post__title {
    margin-top: 13px;
  }

  .post__describe {
    margin-top: 9px;
  }

  .review__buttons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .review__button {
    width: 64px;
    height: 64px;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review__button:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .review__button .button__icon {
    font-size: 35px;
    fill: var(--light-color);
  }
}
