/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/

:root {
  --primary-font: "Poppins";
  --fw-extrabold: 900;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;

  --primary-color: #5f0f40;
  --secondary-color: #700aab;
  --tertiary-color: #e7cff5;
  --light-color: #fff;
  --black-color: #000;
  --gray-color: #fbfbfb;
  --orange-color: #fb8b24;
  --trans-orange-color: #c86c18;
}
