/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.btn {
  padding: 16px 89px 12px 89px;
  font-size: 24px;
  font-family: "Poppins";
  border: none;
  border-radius: 2px;
}

.btn:hover {
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--orange {
  background-color: var(--orange-color);
}

.btn--orange:hover {
  background-color: var(--trans-orange-color);
}

/* Tablet */
@media (min-width: 768px) {
  .btn {
    padding: 16px 105px 12px 105px;
  }
}
