/*-----------------------------------------*\
  #TYPOGRAPHY ELEMENT
\*-----------------------------------------*/

body {
  font-family: "Poppins";
}

/*-----------------------------------------*\
  #TEXT CLASSES
\*-----------------------------------------*/

.text {
  font-size: 16px;
}

.text--primary {
  color: var(--primary-color);
}

.text--light {
  color: var(--light-color);
}

.text--black {
  color: var(--black-color);
}

.text--regular {
  font-weight: var(--fw-regular);
}

.text--bold {
  font-weight: var(--fw-bold);
}

.text--extrabold {
  font-weight: var(--fw-extrabold);
}

.text--normal {
  font-size: 16px;
}

.text--medium {
  font-size: 24px;
}

.text--big {
  font-size: 32px;
}

.text--huge {
  font-size: 48px;
}

/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  src: url(../../assets/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: url(../../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: url(../../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-style: normal;
  src: url(../../assets/fonts/Poppins-Black.ttf);
}
